nav{
    padding: 0em 1em;
    background-color: white;
    display: flex;
    align-items: center;
}

#searchBox{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
nav .form-select{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
body{
    background-color: #F7F7F8;
    font-family: 'Sarabun', sans-serif;
}
nav a{
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
h6{
    font-size: 1em;
}
.col-9 .card{
    width: 100%;
    max-width: 100%
}
.card p{
    white-space: pre-line;
}
i{
    color: rgb(42, 109, 225);
}
.filter{
    border: 0;
    color: #0C6DFD;
}

.filter:hover,.filter:active{
    color: #0C6DFD;
}
nav img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


.form-check{
    display: flex;
    align-items: flex-end;
    font-family: 'Sarabun', sans-serif;
}

.form-control:focus, .form-select:focus {
    border: 1px solid #DEE2E6;
    -webkit-box-shadow: none;
    box-shadow: none!important;
}
.grey{
    color: grey;
}
.word-advisor span{
    font-size: 0.9em;
    padding: 0.5em;
    margin: 0.2em;
}