<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="../static/css/admin-convert.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="w-80 mb-2 mt-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Step 3 : Upload to Database & Elastic</li>
            </ol>
        </nav>
        <div class="card mb-5">
            <h3 class="pt-2">Upload csv to database</h3>
            <div class="drop_box">
                <header>
                    <h4>Select File here</h4>
                </header>
                <p>Files Supported: csv</p>
                <input type="file" hidden accept=".csv" id="fileID" name="file" style="display:none;">
                <button class="my-btn">Choose File</button>

            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const dropArea = document.querySelector(".drop_box"),
            button = dropArea.querySelector("button"),
            dragText = dropArea.querySelector("header"),
            input = dropArea.querySelector("input");

        let file;
        var filename;

        button.onclick = () => {
            input.click();
        };

        input.addEventListener("change", function (e) {
            var fileName = e.target.files[0].name;
            const fileInput = document.getElementById('fileID');
            let filedata = `
            <form action="/upload-test" method="post" enctype="multipart/form-data" id="uploadForm">

            <div class="form">
                <h4 class='text-center'>${fileName} </h4>

                <div id="previewContainer" style="display: none;" class="text-center">
                    <div id="pagination" class="mt-4 mb-3">
                        <button class="btn btn-primary" onclick="prevPage()">Previous Page</button>
                        <span class="pageInfo" class="mx-2">Page 1 of 1</span>
                        <button class="btn btn-primary" onclick="nextPage()">Next Page</button>
                    </div>
                    <table id="previewTable" class="table">
                        <!-- Preview table content will be added dynamically using JavaScript -->
                    </table>
                    <div id="pagination" class="mt-4 mb-3">
                        <button class="btn btn-primary" onclick="prevPage()">Previous Page</button>
                        <span class="pageInfo" class="mx-2">Page 1 of 1</span>
                        <button class="btn btn-primary" onclick="nextPage()">Next Page</button>
                    </div>
                </div>

                <input type="text" name="name" placeholder="ชื่อ ประมวล/พระราชบัญญัติ" required>
                <input type="text" name="copy" placeholder="ฉบับ" required>
                <input type="text" name="status" placeholder="สถานะ" required>
                <input type="text" name="date" placeholder="วันที่ประกาศ" required>
                <input type="text" name="url" placeholder="url" required>

                <input type="file" name="file" style="display:none;" id="fileUpload">
                <div id="nextDiv" class="text-center mt-2">
                    <button class="my-red-btn">Choose Other File</button>
                    <button class="my-btn" type="submit">Upload</button>
                </div>
                
            </div>
            </form>
            `
            dropArea.innerHTML = filedata;
            document.querySelector('.card').style.width = '70vw';
            document.getElementById('nextDiv').style.display = 'block';
            previewCSV(e.target.files[0]);

            $('#uploadForm').on('submit', function (e) {
                e.preventDefault();
                document.getElementById('fileUpload').files = fileInput.files;
                var formData = new FormData(this);
                $.ajax({
                    type: 'POST',
                    url: '/upload-test',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        filedata = `
                    <p> Converting file </p>
                        <div id="myProgress">
                        <div id="myBar"></div>
                    </div>`
                        dropArea.innerHTML = filedata;
                        move();
                        setTimeout(() => {
                            filedata = `
                     ${data}`
                            dropArea.innerHTML = filedata;
                        }, 2000);

                    },
                    error: function (data) {
                        alert("Error occurred.");
                    }
                });
            });

        })

    </script>
    <script>
        var i = 0;
        function move() {
            if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var width = 1;
                var id = setInterval(frame, 10);
                function frame() {
                    if (width >= 100) {
                        clearInterval(id);
                        i = 0;
                    } else {
                        width++;
                        elem.style.width = width + "%";
                    }
                }
            }
        }
    </script>
    <script>
        var currentPage = 1;
        var rowsPerPage = 10;
        var totalRows = 0;
        var data = [];


        function previewCSV(file) {
            console.log(input)

            if (file) {
                Papa.parse(file, {
                    complete: function (results) {
                        data = results.data;
                        totalRows = data.length;

                        displayPage(currentPage);
                        document.getElementById('previewContainer').style.display = 'block';
                    }
                });
            }
        }

        function displayPage(page) {
            var table = document.getElementById('previewTable');
            table.innerHTML = '';

            var startIndex = (page - 1) * rowsPerPage;
            var endIndex = Math.min(startIndex + rowsPerPage, totalRows);

            // Add the header row
            if (data.length > 0) {
                var headerRow = table.insertRow(0);

                for (var h = 0; h < data[0].length; h++) {
                    var headerCell = headerRow.insertCell(-1);
                    headerCell.innerHTML = data[0][h];
                }
            }

            for (var i = startIndex + 1; i < endIndex; i++) {
                var cells = data[i];
                var row = table.insertRow(-1);

                for (var j = 0; j < cells.length; j++) {
                    var cell = row.insertCell(-1);

                    // Limit the "detail" column to 30 characters and add ellipsis if needed
                    if (j === 7 && cells[j].length > 30) {
                        cell.innerHTML = cells[j].substring(0, 30) + '...';
                        cell.setAttribute('title', cells[j]); // Add title attribute for full text on hover
                    } else {
                        cell.innerHTML = cells[j];
                    }
                }
            }
            document.querySelectorAll('.pageInfo').forEach(function (el) {
                el.textContent = 'Page ' + page + ' of ' + Math.ceil(totalRows / rowsPerPage);
            });
        }

        function prevPage() {
            if (currentPage > 1) {
                currentPage--;
                displayPage(currentPage);
            }
        }

        function nextPage() {
            var totalPages = Math.ceil(totalRows / rowsPerPage);
            if (currentPage < totalPages) {
                currentPage++;
                displayPage(currentPage);
            }
        }
    </script>


</body>

</html>